.randomppl {
  background-image: url("../img/highrise.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 360px;


  .titleColor {
    color: #ffffff;
    font-size: 60px;

  }
  .font-text{
    font-family: 'Roboto', sans-serif;

  }

  .subTitleColor {
    color: #ffffff;
    font-size: 14px;
  }
  .adjBtn {
    color: #000000;
  }
}
.reSlider {
  .slide {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    height: 300px;
  }
}
.why {
  .content1Img {
    background-image: url("../img/subdivision.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
  }
}
